
.footer{
    background-color: #f9f9f9 ;
    padding: 2% 8%;
    padding-top: 5%;
    line-height: 8px;
    height: 100%;
    
    
}


.footer a{
    color:#5792f7;
    text-decoration: none;
    line-height: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 0px;
    font-size: 11pt;
}

.footer a:hover{
    
    text-decoration: underline;
 
}

.footer p{
    color: #6a6666;
    line-height: 8px;
    font-size: 11pt;
}

.bottom{
    background-color: #e9e9e9;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    height:100%;
    z-index: -1;


}

.sect{
    padding:12px;
}
