
<div class="footer">
  <div class="row">
    <div class="sect col-lg-4 col-sm-6 col-xs-12">    
      <p><a href="http://support.golix.com/">Help & Support</a></p>
      <p><a href="http://blog.golix.com/privacy-policy/">Privacy Policy</a></p>
      <p><a href="http://blog.golix.com/terms-conditions/">Terms & Conditions</a></p>
    </div>

    <div class="sect col-lg-4 col-sm-6 col-xs-12">
      <p><a href="https://golix.com/api_documentation">API Documentation</a></p>
      <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScDH5qqGvzmGIWNYT3XtInO5VdtN0T27HF-rtxw3xjFAlvDOQ/viewform">List your Token</a></p>
      <p><a href="https://golix.com/careers">Careers</a></p>
    </div>

    <div class="sect col-lg-4 col-sm-12 col-xs-12">
        <p>First Floor, Batanai Mall, </p>
        <p>Corner Jason Moyo Avenue / First Street</p>
        <p>Harare, Zimbabwe</p>
        <p>Tel / Whatsapp: +263 242 761 158</p>
    </div>

  </div>
  
</div>
<div class="bottom col-lg-12 col-sm-12 col-xs-12">
  <p>Golix. 2018 Copyright. All Rights Reserved.</p>
</div>
