<div class = "kyc">
<div class="row">
<div class="verify-body col-xl-4 col-lg-8 col-md-10 col-xs-12 col-sm-12 col-xlg-offset-4 col-md-offset-3 col-lg-offset-4 col-sm-offset-0 col-xs-offset-0">
  <form (ngSubmit)="verify(detail, documentForm.value)" #documentForm="ngForm" class="signin">
    <div class="row">
      <div class="form-header">
          <h1>Level Two Verification: Identity Verification</h1>  
      </div>
      <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
          <h4>Please submit your document details</h4>
      </div>

      <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
            <input
            class="form-control"
            [(ngModel)]="detail.name"
            placeholder="Full Name"
            type="text"
            name="name"
            #name = 'ngModel'
            required
            >
       
          <div class="row">
            <div *ngIf="!name.valid && submitted" class='alert alert-danger'>
              Please enter your name as indicated on the document to be submitted.
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">

        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
          <div class="input-group form-group">
            <select 
              name="id" 
              [(ngModel)]="detail.id_type" 
              class="select-form-control" 
              #id = 'ngModel'
              required
              (change)="documentTypeChanged()"
            >
            <option value="documentType">Document Type</option>
            <option value="national_id" >National ID</option>
            <option value="passport">Passport</option>
            </select>
            <div *ngIf="id.value===undefined && submitted" class='alert alert-danger'>
              Please select the type of ID document that you have.
            </div>
          </div>
        </div>

      </div>      

      <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
            <input
            class="form-control"
            [(ngModel)]="detail.id_number"
            placeholder="{{documentTypePlaceholder}} Number"
            type="text"
            name="id_number"
            #id_number = 'ngModel'
            required
            >
       
          <div class="row">
            <div *ngIf="!id_number.valid && submitted" class='alert alert-danger'>
              We need this to identify you.
            </div>
          </div>
          
        </div>
      </div>
    
    <div class="col-sm-12">
        <h4>Uploaded Documents</h4>
        <p>(Please upload an image file or PDF)</p>
    </div>           
        
        <div class="upload col-sm-8">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Scanned Copy Of Passport / ID</span>
              </div>
              <input
                id="document" 
                name="document" 
                type="file"
                accept="application/pdf,image/*" 
                (change)="documentChangeEvent($event)" 
                placeholder="Upload a file..."
                required
              />
              <div *ngIf="!docSubmitted && submitted" class='alert alert-danger'>
                Please upload a copy of the document.
              </div>
            </div>
          </div>
          <div class=" col-sm-8">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Selfie Holding Passport / ID</span>
                </div>
                <input 
                  id="document_selfie" 
                  name="document_selfie" 
                  type="file" 
                  accept="application/pdf,image/*" 
                  (change)="documentSelfieChangeEvent($event)" 
                  placeholder="Upload a file..."
                  required
                />
                <div *ngIf="!docSubmitted2 && submitted" class='alert alert-danger'>
                  Please upload a selfie with you holding the document.
                </div>
              </div>
            </div>
    </div>
    <div *ngIf="error" class='alert alert-danger'>
      <strong>{{error }}</strong>
    </div>
    <div *ngIf="successmessage" class='alert alert-success'>
      <strong>{{successmessage}}</strong>
    </div>
    <div class="form-group">
      <div class="form-submit text-center row btn-group">
        <button type="submit"
                class="btn btn-success btn"
        >
          Submit
        </button>
        <a href="https://golix.com/settings" class="btn btn-lg btn-outline-primary">
          Cancel
        </a>
      </div> 
           
    </div>
 
  </form>
</div>
</div>
</div>