* {
  color: #333333; 
  justify-content: center;
  
}

.kyc {
padding-top:5%;
}


.verify-body {
 
  margin-bottom: 40px;
  padding: 4%;
  background-color: #ffffff;
  border:1px solid #D4D4D4;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.05);
  box-shadow: 0 1px 5px rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.07);
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
}

.error{
  color: tomato; 
  font-size: 12px; 
  padding-top: 4px
}


h1, h2{
  color:#0066cc;
  font-weight:400;
  padding: 0px;
  letter-spacing: -0.5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
  font-size: 30px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom:5%;
}


.input-group-text{
  background-color: #ffffff;
  border-color: #ffffff;
}

.form-control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  color: #555;
  display: block;
  font-size: 14px;
  height: 50px;
  line-height: 1.42857;
  padding: 6px 12px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  margin-bottom:30px;
  width: 100%;
  
}

.select-form-control{
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  color: #555;
  display: block;
  font-size: 14px;
  height: 50px;
  line-height: 1.42857;
  padding: 6px 12px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  margin-bottom:30px;
  width: 100%;
}


.form-header {
  width: 100%;
  text-align: center;
  height: inherit;
  margin-bottom: 30px;
  
  
} 

.btn{
    
  margin:5px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  
  
  
}

.btn-group{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  
}

.btn-outline-primary{
  background-color: #FFFFFF;
  color:#0066cc;
  width:100%;
}

.btn-outline-primary:hover{
  background-color: #f6f6f6;
  color:#0066cc;
}

.input-group-text{
  background-color: #ffffff;
}
input[type="file"] {
  border: 1px solid #ccc;
  border-radius: 0px;
  color: #555;
}

.btn-success{
  background-color: #3ec120;
  border-color:  #3ec120;
  color: #ffffff;
  width:100%;
}

.btn-success:hover{
  background-color: #3FAD24;
  border-color:  #3FAD24;
}

.upload:input{
  background-color: #333333;
}