<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="text-center navbar-brand" href="/">
      <img alt="golix.com" class="navbar-logo" src="https://golix.com/images/golix/logo.svg" width="115px">
    </a>
    <button class="navbar-toggler hidden-md-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" target="" href="https://golix.com/">
            <i class="fa fa-home"></i>
            <span class="nav-title">
              Home
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="" href="https://golix.com/markets/xlmzar">
            <i class="fa fa-exchange"></i>
            <span class="nav-title">
              Buy/Sell
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="" href="https://golix.com/wallets">
            <i class="fa fa-wallet"></i>
            <span class="nav-title">
              Wallets
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="" href="https://golix.com/history/orders">
            <i class="fa fa-history"></i>
            <span class="nav-title">
              Transaction History
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="" href="https://golix.zendesk.com/hc/en-us">
            <i class="fa fa-life-ring"></i>
            <span class="nav-title">
              Support
            </span>
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="userDropDown" href="#" ngbDropdownToggle>
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropDown" ngbDropdownMenu>
            <a class="dropdown-item" href="https://golix.com/settings"><i class="fa fa-user"></i><span class="nav-title">My Profile</span>
            </a>
            <a class="dropdown-item" href="https://golix.com/logout"><i class="fa fa-power-off"></i><span class="nav-title">Log out</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>