/* navbar styles come here */

.navbar {
    background-color: #06C !important;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    
}

.navbar-nav:a{
    transition: transform .2s; /* Animation */
    font-family: 'Montserrat', sans-serif;
    font-weight: inherit;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: -webkit-match-parent;
}
.navbar-nav>li>a:hover {

    transition: transform .2s; /* Animation */
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.navbar-brand {
    padding-right: 50px;
    width: 25%;
    margin-top:-6%;
    margin-bottom: -6%;
}

.nav-link {
    color: #FFF !important;
    line-height: 20px;
    padding:5px;
}

.nav-item {
    position: relative;
    display: block;
    padding: 10px;
    
}

.nav-title {
    margin-left: 5px;
    font-size: 95%;
}

/* navbar styles end here */