<app-header></app-header>
<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="medium"
  color="#06c"
  loadingText="Loading..."
  type="ball-grid-pulse">
</ngx-spinner>
<router-outlet></router-outlet>
<app-footer></app-footer>
