<div class = "kyc">
  <div class="row">
  <div class="verify-body col-xl-4 col-lg-8 col-md-10 col-xs-12 col-sm-12 col-xlg-offset-4 col-md-offset-3 col-lg-offset-4 col-sm-offset-0 col-xs-offset-0">
    <form (ngSubmit)="verify(detail, documentForm.value)" #documentForm="ngForm" class="signin">
      <div class="row">
        <div class="form-header">
            <h1>Level Three Verification: Proof of Address</h1>  
        </div>
        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
            <h4>Please enter your address details</h4>
        </div>      

        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
          <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
              <input
              class="form-control"
              [(ngModel)]="detail.address"
              placeholder="Address"
              type="text"
              name="address"
              #address = 'ngModel'
              required
              >
         
            <div class="row">
              <div *ngIf="!address.valid && submitted" class='alert alert-danger'>
                This information is important for your verification.
              </div>
            </div>
            
          </div>
        </div>


        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
          <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
              <input
              class="form-control"
              [(ngModel)]="detail.city"
              placeholder="Town / City "
              type="text"
              name="city"
              #city = 'ngModel'
              required
              >
         
            <div class="row">
              <div *ngIf="!city.valid && submitted" class='alert alert-danger'>
                Please enter your town of residence.
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
          <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
              <select 
              class="select-form-control"
              [(ngModel)]="detail.country"
              placeholder="Country"
              type="text"
              name="country"
              #country = 'ngModel'
              required
              (change)="countrySet==true"
              >
              <option [ngValue]="country">Country</option>
              <option *ngFor="let country of listcountries" [value]="country.name" >{{country.name}}</option>
            </select>

            <div class="row">
              <div *ngIf="!country.valid && submitted" class='alert alert-danger'>
                Please enter your country of residence.
              </div>
            </div>
            
          </div>
        </div>
      
      <div class="col-sm-12">
          <h4>Uploaded Document</h4>
          <p>(Please upload an image file or PDF)</p>
      </div>           
          
          <div class="upload col-sm-8">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Scanned Copy Of Your Proof of Address</span>
                </div>
                <input
                  id="document" 
                  name="document" 
                  type="file"
                  accept="application/pdf,image/*" 
                  (change)="documentChangeEvent($event)" 
                  placeholder="Upload a file..."
                  required
                />
                <div *ngIf="!docSubmitted && submitted" class='alert alert-danger'>
                  Please upload a copy of the document.
                </div>
              </div>
            </div>
      </div>
      <div *ngIf="error" class='alert alert-danger'>
        <strong>{{error }}</strong>
      </div>
      <div *ngIf="success" class='alert alert-success'>
        <strong>{{success}}</strong>
      </div>
      <div class="form-group">
        <div class="form-submit text-center row btn-group">
          <button type="submit"
                  class="btn btn-success btn"
          >
            Submit
          </button>
          <a href="https://golix.com/settings" class="btn btn-lg btn-outline-primary">
            Cancel
          </a>
        </div> 
             
      </div>
   
    </form>
  </div>
  </div>
  </div>